// start global variables
$pageOne-color: #8c8a8a;
$light: #fff;
$dark: #000;
// end global variables
.home-one {
    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
    }
    .left-part {
        @media screen and (max-width: 768px) {
            position: relative;
            z-index: 1;
            background-color: $dark;
            margin-left: 0;
            padding-left: 1rem;
        }
        p {
            color: $pageOne-color;
        }
        .cssbuttons-io-button {
            background: $dark;
            color: $light;
            padding: 0.35em;
            padding-left: 1.2em;
            font-size: 17px;
            font-weight: 500;
            border-radius: 0.9em;
            border: none;
            letter-spacing: 0.05em;
            display: flex;
            align-items: center;
            overflow: hidden;
            position: relative;
            height: 2.8em;
            padding-right: 3.3em;
            margin-top: 2rem;
        }
        .cssbuttons-io-button .icon {
            background: $light;
            margin-left: 1em;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2.2em;
            width: 2.2em;
            border-radius: 0.7em;
            right: 0.3em;
            transition: all 0.3s;
        }
        .cssbuttons-io-button:hover .icon {
            width: calc(100% - 0.6em);
        }
        .cssbuttons-io-button .icon svg {
            width: 1.1em;
            transition: transform 0.3s;
            color: $dark;
        }
        .cssbuttons-io-button:hover .icon svg {
            transform: translateX(0.1em);
        }
        .cssbuttons-io-button:active .icon {
            transform: scale(0.95);
        }
    }
}